/* RESET / základ */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  scroll-behavior: smooth;
  height: 100%;
}
body {
  font-family: Arial, sans-serif;
  overflow-x: hidden;
  background: #fff;
  color: #222;
}

/******************kontajner **************/
.row {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

/******************* HEADER ***************/
header {
  position: relative;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/images/pedro.jpg") center/cover no-repeat;
  overflow: hidden;
  background-attachment: fixed;
}

/******************* logo ****************/
#logo img {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 80px;
  height: auto;
  border-radius: 12px;
  z-index: 0;
  opacity: 0.8;
  transition: transform 0.6s ease, opacity 0.4s ease;
}
#logo img:hover {
  transform: scale(1.3);
  opacity: 1;
}

/************************ NAV ***************************/
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 56px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 70;
  display: flex;
  align-items: center;
}
.navbar ul {
  list-style: none;
  margin-left: auto;
  margin-right: 40px;
  display: flex;
  gap: 18px;
  align-items: center;
}
.navbar ul li a {
  color: #fff;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  padding: 10px 25px;
  opacity: 0.85;
  transition: color 0.25s, opacity 0.25s;
}
.navbar ul li a:hover {
  color: grey;
  opacity: 1;
}

/************************** WELCOME text ****************************/
.welcome {
  position: absolute;
  top: 28%;
  left: 5%;
  color: #fff;
  z-index: 50;
  font-family: "Montserrat", sans-serif;
}
.welcome .hello h3 {
  font-size: 29px;
  margin-bottom: 6px;
  font-family: "Montserrat", sans-serif;
}
.welcome .name h1 {
  opacity: 0.5;
  font-size: 64px;
  line-height: 1;
  margin-bottom: 8px;
  font-family: "Montserrat", sans-serif;
}

/********************* iam *********************/
.iam {
  font-family: "Montserrat", sans-serif;
  position: absolute;
  margin-top: 150px;
  top: 44%;
  left: 5%;
  color: #fff;
  font-size: 24px;
  z-index: 50;
}

.more {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
}

.eliot {
  font-family: "Montserrat", sans-serif;
  color: hotpink;
  font-size: large;
  font-weight: 10px;
  opacity: 0.6;
}

/* PROFILE PHOTO  */
.profile-photo {
  position: absolute;
  right: 50px;
  top: 100px;
  z-index: 40;
  width: 35vw;
  max-width: 420px;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.6);
  padding-bottom: 20px;
}
.profile-photo img {
  display: block;
  width: 100%;
  height: auto;
  -webkit-mask-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 10%,
    rgba(0, 0, 0, 0) 70%
  );
  mask-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 10%,
    rgba(0, 0, 0, 0) 70%
  );
}

/********** MAIN************/
main {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url(../images/pc.jpg);
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  z-index: 1;
}

/********************* ABOUT ME  ************************/

.About-me .heading-about-me h2 {
  font-family: "Poppins", sans-serif;
  padding: 25px 0 20px 0;
  text-align: center;
  font-size: 40px;
  color: #fff;
}

.text-about-me {
  font-family: "Poppins", sans-serif;
  margin-right: 20px;
  color: #f5f5f5;
  line-height: 1.8;
  text-align: justify;
  padding-right: 20px;
}
.pc-img {
  display: flex; /* aktivuje grid */
  justify-content: center; /* 2 stĺpce - obrázok + text */
  gap: 30px; /* medzera medzi nimi */
  align-items: center; /* zarovná ich zvislo */
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  flex-wrap: wrap;
}
.pc-img .col {
  flex: 1 1 45%;
}
.pc-img img {
  width: 100%;
  margin-left: 20px;
  height: auto;
  border-radius: 8px;
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.35);
  -webkit-mask-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 10%,
    rgba(0, 0, 0, 0) 70%
  );
  mask-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 10%,
    rgba(0, 0, 0, 0) 70%
  );
}

/*****************Skills*****************/
.col {
  display: flex;
  flex-direction: column; /* obrázok nad textom */
  align-items: center; /* vycentruje horizontálne */
  text-align: center; /* aby aj text bol centrovaný */
}
.skills {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/pedro.jpg);
  background-attachment: fixed;
  background-size: cover;
}

.fade-in {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease-out, transform 3s ease-out;
}

/* Trieda pridaná JS-om pri scrollovaní */
.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

.my-skills-row .col:nth-child(1) {
  transition-delay: 0.2s;
}
.my-skills-row .col:nth-child(2) {
  transition-delay: 0.4s;
}
.my-skills-row .col:nth-child(3) {
  transition-delay: 0.6s;
}
.my-skills-row .col:nth-child(4) {
  transition-delay: 0.8s;
}

.heading-main-skills {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  padding: 25px 0 20px 0;
  font-size: 25px;
  text-align: center;
  color: #fff;
}
.my-skills-row {
  text-align: center;
  margin-left: 20px;
  display: flex;
  padding-right: 20px;
}

.my-skills-row p {
  /*color: #fff;*/
  font-family: "Poppins", sans-serif;
  color: aliceblue;
  line-height: 1.8;
  text-align: center;
}
.photo-skills {
  text-align: center;
  /*margin-top: 10px;
  margin-bottom: 60px;*/
}
.photo-skills img {
  opacity: 0.7;
  width: 45%;
  height: auto;
  margin: 0 auto 10px;
  float: none;
}
.photo-skills-SQL {
  text-align: center;
}

.photo-skills-SQL img {
  width: 18%;
  height: auto;
  margin: 0 auto 10px;
  float: none;
  opacity: 0.9;
}
.photo-skills-GIT {
  text-align: center;
}
.photo-skills-GIT img {
  width: 24%;
  border-radius: 30%;
  height: auto;
  margin: 0 auto 10px;
  float: none;
  opacity: 0.7;
}

.photo-skills-testing {
  text-align: center;
}
.photo-skills-testing img {
  width: 18%;
  height: auto;
  margin: 0 auto 10px;
  float: none;
  opacity: 0.7;
}

/********************* CERTIFIKATES*****************/
.heading-main-certifikates {
  font-size: 20px;
  text-transform: uppercase;
  padding: 25px 0 20px 0;
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: #fff;
}
.photo-segment li {
  list-style-type: none; /*takto zruším označenie zoznamu, bodky atď*/
  /* background-color: black;*/
  overflow: hidden; /*keď mi preteče obrázok takto to dám doporiadku, to čo pretieklo skryje*/
  height: 300px;
  border-radius: 10px;
}

.photo-segment img {
  width: 100%;
  height: 300px;
  transform: scale(1.15); /* transform, zvačšenie o 1,15*/
  transition: transform 0.6s ease, opacity 0.4s ease;
}
.photo-segment img:hover {
  transition: transform 0.5s, opacity 0.5s;
  transform: scale(1);
  opacity: 1;
}

.gallery {
  padding-bottom: 20px;
}

/* FOOTER */
.footer-page {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/images/pedro.jpg") center/cover no-repeat;
  color: black;
  border-top: 10px solid black;
}

.footer-text {
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.contact {
  color: #fff;
  text-decoration: wavy;
}

/***************** RESPONSIVITY ****************/
@media (max-width: 768px) {
  .welcome .name h1 {
    font-size: 42px;
    margin-bottom: 5px;
  }
  .profile-photo {
    float: right;
    width: 115px;
    height: auto;
  }

  /* About me */
  .pc-img {
    display: flex;
    flex-direction: column; /* zoradí pod seba */
    align-items: center; /* vycentruje horizontálne */
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100% !important;
  }

  .pc-img .col {
    flex: 1 1 100%; /* každý zaberie celú šírku */
    width: 100%;
    padding: 0 10px;
    margin: 0;
  }

  .pc-img img {
    width: 100%;
    margin: 0 auto 20px;
  }

  .text-about-me {
    text-align: justify;
    max-width: 100%;
    margin: 0 auto;
    padding: 0px 10px;
    padding-bottom: 30px;
  }
  .my-skills-row {
    display: flex;
    flex-direction: column; /* zoradí pod seba */
    align-items: center; /* vycentruje horizontálne */
    text-align: justify;
    padding: 0;
    margin: 0;
    width: 100% !important;
  }
  .my-skills-row img {
    width: 20%;
  }
  .photo-skills img {
    width: 35%;
  }
  .my-skills-row .col {
    width: 100%;
    margin-bottom: 40px;
  }
  .my-skills-row p {
    text-align: justify;
    padding: 0 15px;
  }

  .photo-segment li {
    display: flex; /* iba flexbox */
    flex-direction: column; /* zoradí pod seba */
    align-items: center; /* vycentruje horizontálne */
    text-align: justify;
    padding: 0;
    margin: 0;
    width: 100% !important;
    margin-bottom: 20px;
  }

  .photo-segment img:hover {
    transition: none;
    transform: none;
  }
  .photo-segment img {
    transition: none;
    transform: none;
  }
}
