/* html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
} */

body {
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.row {
  max-width: 1140px;
  margin: 0px auto;
}

/*------HEADER------*/

header {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(/images/pc.jpg);
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
}

#logo img {
  position: absolute;
  width: 100%;
  max-width: 80px;
  height: auto;
  border-radius: 30%;
  top: 4%;
  left: 2%;
  position: fixed;
  z-index: 60;
  opacity: 0.7;
  transition: transform 1s ease, box-shadow 1s ease; /*aby sa mi logo plynulo vrátilo*/
  cursor: pointer;
}

#logo img:hover {
  cursor: pointer;
  opacity: 1;
  transform: scale(1.4);
  transition: 0.8s;
}

/* -----NAV----- */
.navbar {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 50;
}

.navbar ul {
  float: right;
  position: fixed;
  margin-top: 13px;
  margin-left: 50%;
  list-style: none;
}

.navbar ul li a {
  text-decoration: none;
  font-size: 20px;
  margin: 7px auto;
  padding: 20px 40px;
  color: #fff;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  opacity: 0.6;
}

.navbar a:hover {
  opacity: 0.5;
  transition: 0.5s;
  color: #ff4d00;
}
.profile-photo {
  position: absolute;
  right: 50px;
  top: 100px;
}

.profile-photo img {
  width: 30vw;
  height: auto;
  -webkit-mask-image: radial-gradient(circle, rgba(0,0,0,1) 20%, rgba(0,0,0,0) 80%);
  mask-image: radial-gradient(circle, rgba(0,0,0,1) 20%, rgba(0,0,0,0) 80%);
}

/* -----HEADER TEXT-------*/
.name {
  position: relative; /* Aby sa mohol pohybovať */
  left: -100%; /* Začiatok mimo obrazovky */
  opacity: 0; /* Skrytý na začiatku */
  animation: slideIn 1.5s ease-out forwards;
}

/* -----ANIMATION-------*/

@keyframes slideIn {
  0% {
    left: -100%;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}

.iam {
  position: relative;
  opacity: 0;
  animation: bounceIn 2s ease-out forwards;
}

@keyframes bounceIn {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  50% {
    transform: translateY(10px);
    opacity: 1;
  }
  70% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.welcome {
  z-index: 100;
  color: #fff;
  position: absolute;
  top: 30%;
  left: 5%;
  font-family: sans-serif;
}

.hello {
  font-size: 30px;
}

.name {
  font-size: 45px;
  z-index: 100;
}

.iam {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 5%;
  font-family: sans-serif;
  font-size: 30px;
  z-index: 100;
}
.frontend {
  color: hotpink;
  font-weight: bold;
  z-index: 100;
}

/* -----BUTTONS-------*/
.social-buttons img {
  position: relative;
  width: 40px;
  height: 40px;
  transition: 0.3s;
  border-radius: 30%;
}

.social-buttons img:hover {
  transform: translateY(-5px);
}

.social-buttons img:hover {
  opacity: 0.7;
}

.btn {
  position: absolute;
  top: 60%;
  left: 5%;
  width: 10px;
  height: auto;
  animation: bounceIn 1s ease-out forwards;
}

.fb {
  left: 10%;
  animation: bounceIn 1.5s ease-out forwards;
}

.ld {
  left: 15%;
  animation: bounceIn 1.5s ease-out forwards;
}

.gm {
  left: 20%;
  animation: bounceIn 1s ease-out forwards;
}

/*------MAIN------*/

/*MEDIA QUERIES*/





/*------FOOTER------*/

/* footer {
  background: gray;
  margin-top: 50px;
  padding: 20px auto;
  opacity: 0.7;
}

.footer-text {
  text-align: center;
  color: #fff;
} */

/*------STOP CLEARFIX------*/

.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}
